
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    function isAdmin() {
      // Check if the user is authenticated and their role is 'admin' in the customers collection.
      return request.auth != null && 
             exists(/databases/$(database)/documents/customers/$(request.auth.uid)) &&
             get(/databases/$(database)/documents/customers/$(request.auth.uid)).data.role == 'admin';
    }

    match /products/{productId} {
      allow read: if true;
      allow write: if isAdmin();
    }
    
    match /orders/{orderId} {
      allow read, write: if isAdmin() || (request.auth != null && request.auth.token.email == resource.data.customerEmail);
    }
    
    match /customers/{userId} {
       allow read, write: if (request.auth != null && request.auth.uid == userId) || isAdmin();
    }
    
    match /coupons/{couponId} {
        allow read: if true;
        allow write: if isAdmin();
    }

    match /siteContent/{docId} {
      allow read: if true;
      allow write: if isAdmin();
    }
  }
}
